<a href="https://colab.research.google.com/github/isuhendro/coursera/blob/master/corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read CSV, Create X & Y

In [0]:
url = 'https://raw.githubusercontent.com/isuhendro/corona-spread-predictor/master/data/covid_19_data.csv'
df = pd.read_csv(url)

In [0]:
urlLine = 'https://raw.githubusercontent.com/isuhendro/corona-spread-predictor/master/data/COVID19_open_line_list.csv'
dfLine = pd.read_csv(urlLine)

In [0]:
urlSummary = 'https://raw.githubusercontent.com/isuhendro/corona-spread-predictor/master/data/byDateLocation.csv'
dfSummary = pd.read_csv(urlSummary)

In [5]:
dfSummary.head(200)

    date_confirmation           city  ...  country_new Record Count
0          28.02.2020            NaN  ...  South Korea          182
1          27.02.2020            NaN  ...        Italy          145
2          26.02.2020            NaN  ...  South Korea          134
3          22.02.2020            NaN  ...  South Korea          117
4          29.01.2020   Wenzhou City  ...        China          112
..                ...            ...  ...          ...          ...
195        08.02.2020  Nanchang City  ...        China           11
196        02.02.2020    Bengbu City  ...        China           11
197        08.02.2020   Chengdu City  ...        China           11
198        29.01.2020   Zhuzhou City  ...        China           11
199        29.01.2020   Changde City  ...        China           11

[200 rows x 8 columns]

In [6]:
dfSummary.describe()

          latitude    longitude  Record Count
count  3357.000000  3357.000000   3376.000000
mean     31.177818   108.212596      3.869668
std       9.330475    29.371015      8.744787
min     -37.813600  -124.953070      1.000000
25%      26.866260   108.103100      1.000000
50%      31.370140   114.084000      2.000000
75%      35.878940   118.356000      3.000000
max      69.649468   153.400000    182.000000

In [0]:
urlStation = "https://raw.githubusercontent.com/isuhendro/corona-spread-predictor/master/data/weather-station.csv"
dfStation = pd.read_csv(urlStation)

In [8]:
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...         1      0          0
1    2      01/22/2020        Beijing  ...        14      0          0
2    3      01/22/2020      Chongqing  ...         6      0          0
3    4      01/22/2020         Fujian  ...         1      0          0
4    5      01/22/2020          Gansu  ...         0      0          0

[5 rows x 8 columns]

# Apply Function

In [0]:
from google.colab import files
dfLine2 = dfLine.drop(["x1","x2","x3","x4","x5","x6","x7","x8","x9","x10","x11","x12"], axis=1)
dfLine2.head()
dfLine2.to_csv('details.csv') 
# files.download('details.csv')

In [10]:
df_columns = df.columns
X = df.drop(['SNo', 'Deaths', 'Recovered', 'Confirmed'], axis = 1)
Y = df['Confirmed']
df.head()
df.describe()

               SNo     Confirmed       Deaths    Recovered
count  4935.000000   4935.000000  4935.000000   4935.00000
mean   2468.000000    577.614590    17.694833    201.01155
std    1424.756119   4971.492694   192.348513   2179.79852
min       1.000000      0.000000     0.000000      0.00000
25%    1234.500000      1.000000     0.000000      0.00000
50%    2468.000000      9.000000     0.000000      1.00000
75%    3701.500000     93.000000     1.000000     14.00000
max    4935.000000  67773.000000  3046.000000  49134.00000

In [0]:
from google.colab import files
def download(df, filename):
  df.to_csv(filename) 
  files.download(filename)

# Connect To Google Big Query

In [12]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
%%bigquery --project iwan-specialty dfOutput
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

In [14]:
dfOutput

   total_rows
0   114420316

## Sample approximately 2000 random rows

In [0]:
project_id = 'iwan-specialty'

In [16]:
from google.cloud import bigquery
client = bigquery.Client(project=project_id)
sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `corona.details`''').to_dataframe().total[0]

dfClient = client.query('''
  SELECT
    *
  FROM
    `corona.details`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 14126 rows

## Add StationId using Lambda

In [20]:
from math import sin, cos, sqrt, atan2, radians

def findStation(lati, longi):
  dfStationMatch = dfStation[dfStation.latitude.gt(lati-10) & dfStation.latitude.lt(lati + 10) & dfStation.longitude.gt(longi - 10) & dfStation.longitude.lt(longi + 10) ]
  dfStationMatch.head()
  R = 6373.0
  lat1 = radians(lati)
  lon1 = radians(longi)
  nearestDistance = 99999;
  for index, row in dfStationMatch.iterrows():
    lat2 = radians(row['latitude'])
    lon2 = radians(row['longitude'])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    if distance < nearestDistance :
      nearestDistance = distance
      stationId = row['id']
  if dfStationMatch.empty :
    stationId = "NOTFOUND"
  return stationId

stationId = findStation(30, 114)
stationId

'CHM00057494'

In [38]:
dfClient = dfClient.dropna(thresh=10)
dfClient['stationId'] = dfClient.apply(lambda x: findStation(x.latitude, x.longitude), axis=1)
dfClient.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(1904, 35)

In [0]:
dfClient.head()
download(dfClient, "detailWiStation.csv")

In [41]:
NF = dfClient.loc[dfClient['stationId'] == 'NOTFOUND']
NF.isnull().sum()

int64_field_0               0
ID                          0
age                         1
sex                         0
city                        1
province                    0
country                     0
wuhan_0__not_wuhan_1_       0
latitude                    5
longitude                   5
geo_resolution              5
date_onset_symptoms         3
date_admission_hospital     3
date_confirmation           0
symptoms                    3
lives_in_Wuhan              5
travel_history_dates        3
travel_history_location     0
reported_market_exposure    5
additional_information      4
chronic_disease_binary      5
chronic_disease             5
source                      0
sequence_available          5
outcome                     4
date_death_or_discharge     4
notes_for_discussion        5
location                    5
admin3                      5
admin2                      5
admin1                      5
country_new                 5
admin_id                    5
data_moderator_initials     5
stationId                   0
dtype: int64

In [43]:
NF.head()

    int64_field_0       ID    age  ... admin_id data_moderator_initials stationId
0            5856   6135.0     30  ...     None                    None  NOTFOUND
7           13157  13463.0   0-10  ...     None                    None  NOTFOUND
8           13165  13471.0  60-69  ...     None                    None  NOTFOUND
9           13171  13477.0   0-10  ...     None                    None  NOTFOUND
10          13173  13479.0   None  ...     None                    None  NOTFOUND

[5 rows x 35 columns]

In [45]:
pip install -U googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/07/b8/bd7ab78014a4290853250ac8a1744c5a200e569811b7e0cc9222d38fc296/googlemaps-4.2.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.21.0)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.11.28)
Installing collected packages: googlemaps
Successfully installed googlemaps-4.2.0

# Geocoding

In [0]:
import googlemaps
from datetime import datetime

# https://developers.google.com/maps/documentation/javascript/get-api-key
gmaps = googlemaps.Client(key='AIzaSyBG7rgNulYqhBBzYV_GVeZCOZEVRr7VA10')

# Geocoding an address
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [51]:
geocode_result

[{'address_components': [{'long_name': '1600',
    'short_name': '1600',
    'types': ['street_number']},
   {'long_name': 'Amphitheatre Parkway',
    'short_name': 'Amphitheatre Pkwy',
    'types': ['route']},
   {'long_name': 'Mountain View',
    'short_name': 'Mountain View',
    'types': ['locality', 'political']},
   {'long_name': 'Santa Clara County',
    'short_name': 'Santa Clara County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'California',
    'short_name': 'CA',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '94043', 'short_name': '94043', 'types': ['postal_code']}],
  'formatted_address': '1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA',
  'geometry': {'location': {'lat': 37.4223097, 'lng': -122.084625},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.4236586802915,
     'lng': -122.0832760197085},
    'southwest': {'lat': 37.4209607197085, 'lng': -122.0859739802915}}},
  'place_id': 'ChIJtYuu0V25j4ARwu5e4wwRYgE',
  'plus_code': {'compound_code': 'CWC8+W5 Mountain View, California, United States',
   'global_code': '849VCWC8+W5'},
  'types': ['street_address']}]

In [0]:
NF.describe()

# Modify A Feature with Logic in Function

In [0]:
series = pd.Series([20, 21, 12], index=['London', 'New York','Helsinki'])
def subtract_custom_value(x, custom_value):
  return x-custom_value

series.apply(subtract_custom_value, args=(5,))

# From DataFrame to CSV , then local file CSV

In [0]:
from google.colab import files
df.to_csv('filename.csv') 
files.download('filename.csv')

# Create Partial Data Frame and Merge Back

In [0]:
def getLatLong(df):
  return df[['Confirmed','Deaths','Recovered']]

latlong = getLatLong(df)
latlong.head()

In [0]:
df.dtypes
frames = [X, latlong]
result = pd.concat(frames, sort=True)
result.head()

In [0]:
df.isnull().sum()

In [0]:
df_columns = df.columns
X = df[df_columns[df_columns != 'no._of_cases']] # all columns except Strength
Y = df['no._of_cases'] # Strength column
X.head()

In [0]:
encoded_columns = pd.get_dummies(df['disease'])
df = df.join(encoded_columns).drop('disease', axis=1)

In [0]:
fruits = ["apple", "banana", "cherry"].drop
for x in fruits:
  print(x)
  print(x)

In [0]:

df.head()

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [0]:
X_test.shape

In [0]:
Y_test.shape